/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $color__brand-green;
	background-color: $color__background-body;
	border: 2px solid $color__brand-green;
	border-radius: 3px;
	outline: none;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 2.25rem;

	&:hover,
	&:active,
	&:focus {
		border-color: darken( $color__brand-green, 10% );
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea { 

	width: 65%;
	color: $color__text-screen;
	background-color: $color__background-body;
    border: 2px solid $color__brand-green;
	border-radius: 3px;
	outline: none;

    margin-bottom: 1.5rem;
	padding: .25rem .5rem;
	
	font-size: 1.25rem;

	&:focus {
		//color: #111;
	}
}

textarea {
	//padding-left: 3px;
	width: 100%;
}

fieldset {
	border: 0;
    margin: 0;
	padding: 0;

	label { 
		display: block; 
		padding-bottom: .5rem;
	}
}

///////////////////////////////

.search-form {
	input {
		width: 300px;
		//height: 30px;
	}
	.search-submit {
		border: none;
		padding-left: .75rem;
		padding-right: .75rem;
	}
}

.new-quote-button {

	margin-top: 3rem;
	margin-bottom: 3rem;

	@include desktop {
		display: flex;
		align-items: center;
		justify-content: center;
		// margin: 0 auto;
	}
}