.site-header {
    width: 100%;
    
    margin-top: 3rem;
    margin-bottom: 1rem;

    .site-branding {
        width: 100%;
        max-width: 300px;

        @include tablet {
            max-width: 500px;
        }

        @include desktop {
            max-width: 700px;
            margin: 0 auto;
        }
        
        img {
            width: 100%;
            height: auto;
        }
    }
}

.site-footer {
    width: 100%;

    margin-top: 3rem;
    margin-bottom: 1rem;

    .main-navigation {
        p {
            display: inline-flex;
            margin: 0px;
            padding-top: 10px;

            @include tablet {
                padding: 0 1rem;
                border-left: $border__solid;
            }
        }
    }
}

.site {
    width: 100%;
    max-width: $max__width;
    margin: 0 auto;
    padding: 2.5%;
}

.content-area {
    position: relative;

    @include desktop {
        margin: 4.5rem 175px 1.5rem;

        &::before, &::after {
            color: $color__brand-green;
    
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 125px;
            line-height: 125px;
    
            position: absolute;
            top: 0;
        }
        &::before {
            content: "\f10d";
            left: -175px;
        }
        &::after {
            content: "\f10e";
            right: -175px;
        }
    }
}

.site-archive {

    display: block;

    & > div {
        padding-bottom: 2rem;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        float: left;
        font-size: 1.25rem;
        margin-bottom: .6rem;
        margin-right: 1.25rem;
    }
}

.number-pagination {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: $border__dashed;

    .page-numbers {
        padding: 0 .25rem;
    }
}

.post{
    .entry-content {
        font-size: 2.25rem;
    }
    .entry-title {
        font-size: 1.25rem;
        font-weight: 400;
    }
}
.archive { 
    article {
        border-top: $border__dashed;
        padding: .2rem 0;
    }
}

